.MainPage {
  width: 100%;


  display: flex;

  flex-direction: column;
  align-items: center;
  .box1 {
    width: 100%;
    text-align: center;
    min-height: 800px;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper111 {
      display: flex;
      justify-content: center;

      padding-top: 30px;
      margin: 10px 0px 30px 0px;
    }
    
    .cta {
      display: flex;
      padding: 5px 20px;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 20px;

      align-items: center;
    
      background: #6225e6;
      transition: 1s;
      box-shadow: 6px 6px 0 black;
      transform: skewX(-15deg);
    }
    
    .cta:focus {
      outline: none;
    }
    
    .cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #fbc638;
    }
    
    .cta span:nth-child(2) {
      transition: 0.5s;
      margin-right: 0px;
    }
    
    .cta:hover span:nth-child(2) {
      transition: 0.5s;
      margin-right: 45px;
    }
    
    span {
      transform: skewX(15deg);
    }
    
    span:nth-child(2) {
      width: 20px;
      margin-left: 30px;
      position: relative;
      top: 12%;
    }
    
    /**************SVG****************/
    
    path.one {
      transition: 0.4s;
      transform: translateX(-60%);
    }
    
    path.two {
      transition: 0.5s;
      transform: translateX(-30%);
    }
    
    .cta:hover path.three {
      animation: color_anim 1s infinite 0.2s;
    }
    
    .cta:hover path.one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
    }
    
    .cta:hover path.two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
    }
    
    /* SVG animations */
    
    @keyframes color_anim {
      0% {
        fill: white;
      }
      50% {
        fill: #fbc638;
      }
      100% {
        fill: white;
      }
    }
    .text_1 {
      font-size: 20px;
      padding-top: 70px;
      font-weight: 100;
      color: orange;
      padding-bottom: 15px;
    }
    .text_2 {
      font-weight: 10;
      font-size: 38px;
    }
    .text_3 {
      font-weight: 900;
      font-size: 43px;
      padding-bottom: 20px;
      font-family: sans-serif;
    }
    .text_4 {
      font-family: sans-serif;
      color: rgb(188, 182, 182);
      text-align: center;
      font-size: 18px;
    }
    .Vidio_1 {
      max-width: 800px;
      padding-top: 30px;
    }
  }
  .box2 {
    width: 100%;
    user-select: none;
    background-color: #050815;
    color: white;
    text-align: center;

    background-image: url(../assets/section-no-time-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;


    .logo {
      width: 100px;
      height: 100px;
      background-image: url(../assets/university-logo.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .bosh {
      height: 80px;
    }
    .text_5 {
      font-size: 34px;
      width: auto;
      padding: 30px 0px 30px 0px;

      font-family: sans-serif;
    }
    .text_66 {
      font-size: 24px;
      color: rgb(198, 193, 193);
      padding: 0px 0px 30px 0px;
    }
    .text_6 {
      font-size: 24px;
      font-weight: 800;
      padding: 0px 0px 30px 0px;
    }
    .text_7 {
      font-size: 24px;
      color: rgb(198, 193, 193);
      padding: 0px 0px 30px 0px;
    }
    .text_8 {
      font-size: 24px;
      color: rgb(198, 193, 193);
      padding: 0px 0px 30px 0px;
      text-align: center;
    }
    .text_9 {
      font-size: 30px;
      padding: 0px 0px 30px 0px;
    }
    .students {
      width: 180px;
      padding: 10px 0px 10px 0px;
      cursor: pointer;
    }
    .join {
      width: auto;
      display: flex;
      align-items: center;

      cursor: pointer;

      span {
        font-size: 28px;
        color: orange;
      }
      padding-bottom: 34px;
    }
    .wrapper2 {
      display: flex;
      justify-content: center;
    }
    
    .cta2 {
      display: flex;
      padding: 5px 20px;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 20px;
      color: black;
      align-items: center;
    
      background: orange;
      transition: 1s;
      box-shadow: 6px 6px 0 black;
      transform: skewX(-15deg);
    }
    .cta2:focus {
      outline: none;
    }
    
    .cta2:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 white;
    }
    
    .cta2 span:nth-child(2) {
      transition: 0.5s;
      margin-right: 0px;
    }
    
    .cta2:hover span:nth-child(2) {
      transition: 0.5s;
      margin-right: 45px;
    }
    
    span {
      transform: skewX(15deg);
    }
    
    span:nth-child(2) {
      width: 20px;
      margin-left: 30px;
      position: relative;
      top: 12%;
    }
    
    /**************SVG****************/
    
    path.one {
      transition: 0.4s;
      transform: translateX(-60%);
    }
    
    path.two {
      transition: 0.5s;
      transform: translateX(-30%);
    }
    
    .cta2:hover path.three {
      animation: color_anim 1s infinite 0.2s;
    }
    
    .cta2:hover path.one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
    }
    
    .cta2:hover path.two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
    }
    
    /* SVG animations */
    
    @keyframes color_anim {
      0% {
        fill: white;
      }
      50% {
        fill: black;
      }
      100% {
        fill: white;
      }
    }
  }
  // Box 2 end
  .box3 {
    width: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(../assets/yer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;


    .map_t_first {
      padding-top: 20px;
      font-size: 34px;
      font-family: sans-serif;
    }
    .box3-in {
      width: 100%;
      padding: 30px 0px 30px 0px;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .xarita {
        width: 600px;
        height: 400px;
        .frame_map {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          border: 0;
        }
      }
      .map_info {
        width: 600px;
        min-height: 400px;

        display: flex;
        align-items: center;

        text-align: center;
        gap: 20px;
        flex-direction: column;
        .text_10 {
          font-size: 33px;
          text-align: center;
          font-family: sans-serif;

          cursor: pointer;
        }
        .text_11 {
          // color: #fff;
          font-size: 18px;
          max-width: 480px;
          font-family: sans-serif;
        }
        .text_13 {
          padding-bottom: 10px;
        }
      }
    }
  }
  .laptop_page {
    width: 100%;
    min-height: 500px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .vidio {
      width: 600px;
      height: 400px;

      .vidio_mp4 {
        width: 100%;
        height: 100%;
      }
    }
    .vidio_info {
      width: 600px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      height: 400px;

      .first_tech {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      ul {
        list-style: none;
        font-size: 24px;
        width: auto;

        gap: 20px;
        display: flex;
        font-family: sans-serif;

        flex-direction: column;
      }

      ul li:before {
        content: "✓";
      }
    }
  }
  //laptop page end
  .phone_page {
    width: 100%;
    min-height: 500px;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .phone_vidio {
      width: 600px;
      height: 500px;

      .p_vidio {
        width: 100%;
        height: 100%;
      }
    }
    .phone_info {
      width: 600px;
      height: 500px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-direction: column;

      .divv {
        display: flex;
        align-items: center;
        gap: 10px;
        .boy_logo {
          width: 80px;
        }
        h1 {
          font-size: 28px;
        }
      }
      ul {
        list-style: none;
        font-size: 24px;
        width: auto;

        gap: 20px;
        display: flex;
        font-family: sans-serif;

        flex-direction: column;
      }

      ul li:before {
        content: "✓";
      }
    }
  }
  .qoravoy {
    width: 100%;
    min-height: 500px;

    user-select: none;
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    .qora_vidio {
      width: 600px;
      height: 500px;

      .q_vidio {
        width: 100%;
        height: 100%;
      }
    }
    .qora_info {
      width: 600px;
      height: 400px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      flex-direction: column;
      .divvv {
        display: flex;
        align-items: center;
        gap: 10px;
        .q_logo {
          width: 80px;
        }
        h1 {
          font-size: 28px;
        }
      }
      ul {
        list-style: none;
        font-size: 24px;
        width: auto;

        gap: 20px;
        display: flex;
        font-family: sans-serif;

        flex-direction: column;
      }

      ul li:before {
        content: "✓";
      }
    }
  }
  .slider {
    width: 100%;
    height: 700px;

    h1 {
      text-align: center;
      padding: 20px 0px 20px 0px;
      font-family: sans-serif;
      color: #ff7300;
    }
    .swiper {
      width: 86%;
      height: 600px;
      cursor: pointer;
      border-radius: 10px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-prev,
    .swiper-button-next {
      // color: #ff7300;
      display: none;
    }
  }
  .hamkor {

    background-image: url(https://r4.wallpaperflare.com/wallpaper/859/468/964/digital-art-dark-static-wallpaper-d2a10200bd96eeeb6ae882e570186952.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;
    color: white !important;
    // background-color: #00ffd5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    .hamkor-parent {
      width: 100%;
      min-height: 400px;
      // background-color: red;
      padding: 10px 0px 10px 0px;
    }
  }
}

//AAAAAAAAAAAAa

.a {
  text-decoration: none;
  color: yellow;
  transition: all 0.5s;
  &:hover {
    color: greenyellow;
  }
}
@import url("https://fonts.googleapis.com/css?family=Poppins:900i");

// 2//////////////////////////////////////////////////e2



//button///////////////////////////

/* CSS */
.button-85 {
  padding: 1em 1em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: gray;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

  @media (max-width: 845px) {
    .Vidio_1 {
      width: 600px;
    }
    .MainPage .box3 .box3-in {
      flex-direction: column;
      gap: 30px;
    }
    .MainPage .laptop_page {
      flex-direction: column;
    }
    .MainPage .phone_page {
      flex-direction: column;
    }
    .MainPage .qoravoy {
      flex-direction: column;
    }
  }
  .MainPage .box1 span{
    color: white !important;
  }